/client/current/overrides/config/voicechat
/client/current/overrides/config/voicechat-client.toml
/client/current/overrides/config/smoothboot.json
/client/current/overrides/config/brandon3055/servers

*/**/kubejs/client.txt
*/**/kubejs/server.txt
*/**/kubejs/startup.txt
*/**/kubejs/exported
/server/current/**/kubejs/client_scripts
/server/current/**/kubejs/config/client.properties

/server/current/**/*-client.toml